DamasChinas_Client/DamasChinas_Client.UI/Connected Services/MensajeriaService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Mensaje">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaEnvio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuarioDestino" type="xs:int" />
      <xs:element minOccurs="0" name="Texto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsernameDestino" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mensaje" nillable="true" type="tns:Mensaje" />
  <xs:complexType name="ArrayOfMensaje">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mensaje" nillable="true" type="tns:Mensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMensaje" nillable="true" type="tns:ArrayOfMensaje" />
</xs:schema>