DamasChinas_Client/DamasChinas_Client.UI/Connected Services/AccountManagerServiceProxy/item43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Damas_Chinas_Server.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Damas_Chinas_Server.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8002/AccountManager/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Damas_Chinas_Server.Common" />
  <xs:complexType name="OperationResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Damas_Chinas_Server.Common" minOccurs="0" name="Code" type="q1:MessageCode" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="TechnicalDetail" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResult" nillable="true" type="tns:OperationResult" />
</xs:schema>