DamasChinas_Client/DamasChinas_Client.UI/Connected Services/AccountManagerServiceProxy/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Damas_Chinas_Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Damas_Chinas_Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OperationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exito" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:UsuarioInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResult" nillable="true" type="tns:OperationResult" />
  <xs:complexType name="UsuarioInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioInfo" nillable="true" type="tns:UsuarioInfo" />
</xs:schema>