DamasChinas_Client/DamasChinas_Client.UI/Connected Services/AccountManagerServiceProxy/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8735/AccountManager/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Damas_Chinas_Server.Dtos" />
  <xs:import schemaLocation="http://localhost:8735/AccountManager/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Damas_Chinas_Server" />
  <xs:element name="ObtenerPerfilPublico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPerfilPublicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Damas_Chinas_Server.Dtos" minOccurs="0" name="ObtenerPerfilPublicoResult" nillable="true" type="q1:PublicProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="nuevoUsername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Damas_Chinas_Server" minOccurs="0" name="CambiarUsernameResult" nillable="true" type="q2:ResultadoOperacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="nuevaPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Damas_Chinas_Server" minOccurs="0" name="CambiarPasswordResult" nillable="true" type="q3:ResultadoOperacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>