DamasChinas_Client/DamasChinas_Client.UI/Connected Services/SingInServiceProxy/item31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/SignInService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Damas_Chinas_Server.Dtos" />
  <xs:import schemaLocation="http://localhost:8001/SignInService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Damas_Chinas_Server" />
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Damas_Chinas_Server.Dtos" minOccurs="0" name="userDto" nillable="true" type="q1:UserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Damas_Chinas_Server" minOccurs="0" name="CreateUserResult" nillable="true" type="q2:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>