DamasChinas_Client/DamasChinas_Client.UI/Connected Services/LogInServiceProxy/item32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/LoginService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DamasChinas_Server.Dtos" />
  <xs:import schemaLocation="http://localhost:8000/LoginService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DamasChinas_Server.Common" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DamasChinas_Server.Dtos" minOccurs="0" name="loginRequest" nillable="true" type="q1:LoginRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnLoginSuccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DamasChinas_Server.Dtos" minOccurs="0" name="profile" nillable="true" type="q2:PublicProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnLoginError">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DamasChinas_Server.Common" minOccurs="0" name="code" type="q3:MessageCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>