DamasChinas_Client/DamasChinas_Client.UI/Connected Services/LobbyServiceProxy/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="LobbyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILobbyService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DamasChinas_Server.Dtos" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILobbyService_CreateLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_CreateLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_JoinLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_JoinLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_LeaveLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_LeaveLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_SendLobbyMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendLobbyMessage" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_GetLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_GetLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_KickMember_InputMessage">
    <wsdl:part name="parameters" element="tns:KickMember" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_KickMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:KickMemberResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_BanMember_InputMessage">
    <wsdl:part name="parameters" element="tns:BanMember" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_BanMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:BanMemberResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_GetPublicLobbies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPublicLobbies" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_GetPublicLobbies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPublicLobbiesResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_StartGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartGameResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_OnMemberJoined_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnMemberJoined" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_OnMemberLeft_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnMemberLeft" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_OnMessageReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnMessageReceived" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_OnLobbyClosed_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnLobbyClosed" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_OnGameStarted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnGameStarted" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ILobbyService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CreateLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/CreateLobby" message="tns:ILobbyService_CreateLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/CreateLobbyResponse" message="tns:ILobbyService_CreateLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="JoinLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/JoinLobby" message="tns:ILobbyService_JoinLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/JoinLobbyResponse" message="tns:ILobbyService_JoinLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="LeaveLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/LeaveLobby" message="tns:ILobbyService_LeaveLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/LeaveLobbyResponse" message="tns:ILobbyService_LeaveLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendLobbyMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/SendLobbyMessage" message="tns:ILobbyService_SendLobbyMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/GetLobby" message="tns:ILobbyService_GetLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/GetLobbyResponse" message="tns:ILobbyService_GetLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="KickMember">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/KickMember" message="tns:ILobbyService_KickMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/KickMemberResponse" message="tns:ILobbyService_KickMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="BanMember">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/BanMember" message="tns:ILobbyService_BanMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/BanMemberResponse" message="tns:ILobbyService_BanMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetPublicLobbies">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/GetPublicLobbies" message="tns:ILobbyService_GetPublicLobbies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/GetPublicLobbiesResponse" message="tns:ILobbyService_GetPublicLobbies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StartGame">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/StartGame" message="tns:ILobbyService_StartGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/StartGameResponse" message="tns:ILobbyService_StartGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnMemberJoined">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/OnMemberJoined" message="tns:ILobbyService_OnMemberJoined_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnMemberLeft">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/OnMemberLeft" message="tns:ILobbyService_OnMemberLeft_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnMessageReceived">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/OnMessageReceived" message="tns:ILobbyService_OnMessageReceived_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnLobbyClosed">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/OnLobbyClosed" message="tns:ILobbyService_OnLobbyClosed_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnGameStarted">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/OnGameStarted" message="tns:ILobbyService_OnGameStarted_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ILobbyService" type="tns:ILobbyService">
    <wsp:PolicyReference URI="#NetTcpBinding_ILobbyService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CreateLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/CreateLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/JoinLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/LeaveLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendLobbyMessage">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/SendLobbyMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/GetLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KickMember">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/KickMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BanMember">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/BanMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPublicLobbies">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/GetPublicLobbies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/StartGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnMemberJoined">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/OnMemberJoined" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnMemberLeft">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/OnMemberLeft" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnMessageReceived">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/OnMessageReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnLobbyClosed">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/OnLobbyClosed" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnGameStarted">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/OnGameStarted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LobbyService">
    <wsdl:port name="NetTcpBinding_ILobbyService" binding="tns:NetTcpBinding_ILobbyService">
      <soap12:address location="net.tcp://localhost:8751/LobbyService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8751/LobbyService/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>