DamasChinas_Client/DamasChinas_Client.UI/Connected Services/FriendServiceProxy/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DamasChinas_Server.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DamasChinas_Server.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFriendDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendDto" nillable="true" type="tns:FriendDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendDto" nillable="true" type="tns:ArrayOfFriendDto" />
  <xs:complexType name="FriendDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Avatar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConnectionState" type="xs:boolean" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendDto" nillable="true" type="tns:FriendDto" />
</xs:schema>