DamasChinas_Client/DamasChinas_Client.UI/Connected Services/AmistadService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Damas_Chinas_Server.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Damas_Chinas_Server.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAmigoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AmigoDto" nillable="true" type="tns:AmigoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAmigoDto" nillable="true" type="tns:ArrayOfAmigoDto" />
  <xs:complexType name="AmigoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Avatar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnLinea" type="xs:boolean" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AmigoDto" nillable="true" type="tns:AmigoDto" />
</xs:schema>