DamasChinas_Client/DamasChinas_Client.UI/Connected Services/UsuarioServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="UsuarioService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IUsuarioService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuarioService_CrearUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_CrearUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_UsuarioCreado_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UsuarioCreado" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_UsuarioCreado_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UsuarioCreadoResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_ErrorCreandoUsuario_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ErrorCreandoUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_ErrorCreandoUsuario_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ErrorCreandoUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuarioService">
    <wsdl:operation name="CrearUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioService/CrearUsuario" message="tns:IUsuarioService_CrearUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioService/CrearUsuarioResponse" message="tns:IUsuarioService_CrearUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UsuarioCreado">
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioService/UsuarioCreado" message="tns:IUsuarioService_UsuarioCreado_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioService/UsuarioCreadoResponse" message="tns:IUsuarioService_UsuarioCreado_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ErrorCreandoUsuario">
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioService/ErrorCreandoUsuario" message="tns:IUsuarioService_ErrorCreandoUsuario_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioService/ErrorCreandoUsuarioResponse" message="tns:IUsuarioService_ErrorCreandoUsuario_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IUsuarioService" type="tns:IUsuarioService">
    <wsp:PolicyReference URI="#NetTcpBinding_IUsuarioService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CrearUsuario">
      <soap12:operation soapAction="http://tempuri.org/IUsuarioService/CrearUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsuarioCreado">
      <soap12:operation soapAction="http://tempuri.org/IUsuarioService/UsuarioCreado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorCreandoUsuario">
      <soap12:operation soapAction="http://tempuri.org/IUsuarioService/ErrorCreandoUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsuarioService">
    <wsdl:port name="NetTcpBinding_IUsuarioService" binding="tns:NetTcpBinding_IUsuarioService">
      <soap12:address location="net.tcp://localhost:8091/UsuarioService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8091/UsuarioService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>